<div class="recipe-details-container">
  <h1 class="recipe-details-title">Recipe details</h1>
  <div class="recipe-details">
    <h1 class="recipe-name"><%= @recipe.name %></h1>
    <div class="recipe-box">
      <div class="recipe-details-section">
        <p class="recipe-detail">Preparation time: <%= @recipe.preparation_time %> min</p>
      </div>
      <div class="recipe-details-section">
        <p class="recipe-detail">Cooking time: <%= @recipe.cooking_time %> min</p>
      </div>
      <div class="recipe-details-section">
        <p class="recipe-detail">Steps: <%= @recipe.description %></p>
      </div>
    </div>
    <% if can? :update, @recipe %>
      <div class="recipe-actions">
        <%= button_to(@recipe.public? ? "Make Private" : "Make Public", toggle_recipe_public_path(@recipe), method: :put, class: "recipe-action-button") %>
      </div>
    <% end %>
  </div>
</div>

<div class="shopping-table-container">
  <table class="shopping-table">
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <% if can? :destroy, @recipe %>
          <th>Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <td><%= link_to "#{food.name}", food_path(food.id) %></td>
          <td><%= food.recipe_foods.select { |recipe| recipe.food_id == food.id }[0].quantity %> <%= food.measurement_unit %></td>
          <td><%= food.price %></td>
          <td><%= food.price.to_i * (food.recipe_foods.select { |recipe| recipe.food_id == food.id }[0].quantity - food.quantity) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
